* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	list-style: none;	
}
body {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #EFF6F8;
}
header{
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	padding: 8px;
	background-color: #EFF6F8;
}
.containerHeader__blockone{
	width: 100vw;
	height: 3vh;
	display: flex;
	justify-content: space-between;
	padding: 12px;
}
.containerHeader__logo{
	width: 60px;
	height: 60px;
	margin-left: 20px;
}
.containerHeader__menu{
	width: 35vw;
	height: 20vh;
	display: flex;
	justify-content: space-around;
	background-color:transparent;
	margin-right: 400px;
}
.containerHeader__menuLink{
	font-size: 18px;
	color: #BC503B;
}
.containerHeader__principal{
	width: 100%;
	height: 65%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.containerHeader__text{
	width: 35%;
	display: flex;
	justify-content: center;
	font-weight: 900;
	font-size: 40px;
	text-transform: uppercase;
	color: #939393;
	margin-left: 130px;
}
.containerHeader__photo{
	height: 700px;
	background-color: transparent;
}
@media (max-width: 768px){
	header{
		padding: 0;
	}
	.containerHeader__logo{
		width: 45px;
		height: 45px;
	}
	.containerHeader__blockone {
		height: 70px;
		background-color: #fff;
	}
	.containerHeader__menu{
		width: 60vw;
		margin-right: 120px;
	}
	.containerHeader__menuLink{
		font-size: 19px; 
		margin: 10px;
	}
	.containerHeader__principal {
		flex-direction: column-reverse;
	}
	.containerHeader__photo{
		height: 550px;
	}
	.containerHeader__text{
		width: 50vh;
		font-size: 30px;
		margin-left: 0;
	}
}
@media(max-width: 604px){
	.containerHeader__menu {
		width: 60vw;
		margin-right: 55px;
		padding: 10px;
	}
	.containerHeader__menuLink{
		font-size: 19px; 
		margin: 0;
	}
	.containerHeader__photo{
		height: 440px;
	}
	.containerHeader__text{
		width: 60%;
		font-size: 30px;
		text-align: center;
	}
		.containerHeader__aquarela{
		display: flex;
		flex-direction: column-reverse;
	}
}
@media(max-width: 425px){
	.containerHeader__logo{
		width: 45px;
		height: 45px;
		margin: 0;
	}
	.containerHeader__menu {
		width: 60vw;
		margin-right: 55px;
	}
	.containerHeader__photo{
		height: 430px;
	}
	.containerHeader__text{
		width: 90%;
		font-size: 30px;
		text-align: center;
	}
	.containerHeader__aquarela{
		display: flex;
		flex-direction: column-reverse;
	}
}
main {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.containerlove{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EFF6F8;
}
.containerlove__blockfirst {
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.containerlove__img {
	height: 470px;
}
.containerlove__blocksecond {
	width: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.containerlove__paragrafo {
	width: 300px;
	font-size: 16px;
}
.containerobjetivos {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	background-color: #fff;
}
.containerobjetivos__blockfirst {
	width: 30vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.containerobjetivos__photos {
	height: 160px;
}
.containerobjetivos__blocksecond {
	width: 65vw;
	height: 90vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 80px;
}
.containerobjetivos__title {
	width: 40vw;
	font-size: 25px;
	color: #D63727;
	margin-top: 30px;
}
.containerobjetivos__table {
	width: 575px;
}
.containerprodutos {
	width: 100%;
	height: 60vh;
	display: flex;
	justify-content: space-around;
	background-color: #EFF6F8; 
}
.containerprodutos__blockfirst {
	width: 70%;
	height: 55vh;
}
.containerprodutos__img {
	height: 405px;
}
.containerprodutos__blocksecond {
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.containerprodutos__paragrafo {
	font-size: 18px;
	color: #3E4D4F;
}
.containerprodutos__list {
	flex-direction: column;
	font-size: 18px;
	font-weight: 900;
	color: #3E4D4F;
}
@media (max-width: 768px) {
	.containerlove {
		margin-top: 50px;
		flex-direction: column-reverse;
	}
	.containerlove__paragrafo {
		line-height: 2;
	}
	.containerobjetivos {
		height: auto;
	}
	.containerobjetivos__blockfirst {
		width: 100%;
		height: auto;
		flex-direction: row;
		justify-content: space-between;
	}
	.containerobjetivos__blocksecond {
		width: 100%;
		height: auto;
		margin: 0;
	}
	.containerobjetivos__title {
		width: 65%;
		font-size: 18px;
		margin: 0;
		margin-top: 20px;
	}
	.containerobjetivos__table {
    	width: 520px;
	}
	.containerprodutos {
		height: auto;
		justify-content: center;
		align-items: center;
	}
	.containerprodutos__blockfirst {
		height: auto;
	}
	.containerprodutos__img {
		height: 330px;
	}
	.containerprodutos__blocksecond {
		margin: 30px;
	}
	.containerprodutos__paragrafo {
		font-size: 16px;
	}
}
@media (max-width: 605px) {
	.containerlove {
		flex-direction: column-reverse;
	}
	.containerlove__paragrafo {
		line-height: 2;
	}
	.containerobjetivos {
		height: auto;
		flex-direction: column-reverse;
	}
	.containerobjetivos__blockfirst {
		height: auto;
	}
	.containerobjetivos__photos {
		height: 120px;
	}
	.containerobjetivos__table {
    	width: 390px;
    }
    .containerobjetivos__blocksecond {
    	height: auto;
    }
	.containerprodutos{
		height: auto;
		flex-direction: column-reverse;
	}
	.containerprodutos__blockfirst {
	    height: auto;
	    order: 1;
	}
	.containerprodutos__img {
    	height: 250px;
	}
	.containerprodutos__blocksecond {
		height: auto;
		order: 2;
	}
	.containerprodutos__paragrafo {
	    font-size: 18px;
	}
}
@media (max-width: 425px) {
	.containerlove__img {
		height: 360px;
	}
	.containerobjetivos {
		height: auto;
	}
	.containerobjetivos__blockfirst {
		height: auto;
	}
	.containerobjetivos__photos {
		height: 100px;
	}
	.containerobjetivos__blocksecond {
		height: auto;
	}
	.containerobjetivos__title {
		font-size: 18px;
	}
	.containerobjetivos__table {
		width: 320px;
	}
	.containerprodutos {
    	height: auto;
	}
	.containerprodutos__blockfirst {
		height: auto;
	}
	.containerprodutos__img {
		height: 175px;
	}
}
footer{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.containerfooter{
	width: 100%;
	padding: 30px;
	display: flex;
	height: 45vh;
	margin: 0;
	justify-content: space-around;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	background-color: #DA3F30;
}
.containerfooter__forlove{
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 60px;
}
.containerfooter__icone__img{
	width: 110px;
	height: 120;
	justify-content: center;
}
.containerfooter__texto{
	width: 220px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}
.containerfooter__contatos{
	height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 5px;
	margin-bottom: 20px;
}
.containerfooterContatos__icoetxt-01{
	display: flex;
	font-weight: bold;
	align-items: center;
}
.containerfooterContatos__img-1{
	width: 20px;
	height: 20px;
}
.containerfooterContatos__txt-01{
	color: #fff;
	font-weight: bold;
	margin-left: 5px;
}
.containerfooterContatos__icoetxt-02{
	display: flex;
	font-weight: bold;
	align-items: center;	
}
.containerfooterContatos__img-2{
	width: 20px;
	height: 20px;
}
.containerfooterContatos__txt-02{
	color: #fff;
	margin-left: 5px;
}
.containerfooterContatos__icoetxt-03{
	display: flex;
	font-weight: bold;
	align-items: center;
}
.containerfooterContatos__img-3{
	width: 20px;
	height: 20px;
}
.containerfooterContatos__txt-03{
	color: #fff;
	margin-left: 5px;
}
.containerfooter__fotos{
	display: flex;
	padding: 30px;
	position: relative;
	bottom: 5px;
	right: 40px;
}
.containerfooter__foto__one{
	height: 270px;
	position: absolute;
	right: 60px;
}
.containerfooter__foto__two{
	height: 270px;
	position: relative;
	left: 110px;
}
.containerfooter__base{
	width: 100%;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.containerfooter_base__authorship {
	font-size: 13px;
}
.containerfooter__base__logo {
	width: 40px;
}
@media(max-width: 780px){
	.containerfooter{
		height: auto;
		flex-direction: column;
	}
	.containerfooter__forlove{
		width: 100%;
		align-items: center;
		text-align: center;
	}
	.containerfooter__texto{
		margin-top: 30px;
	}
	.containerfooter__fotos{
		display: none;
	}
	.containerfooter__base{
		background-color: #fff;
		justify-content: center;
	}
	.containerfooter__base__logo{
		width: 40px;
		height: 40px;
		margin-left: 5px;
	}
}