* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	list-style: none;	
}
body {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #EFF6F8;
}
header{
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	padding: 8px;
	background-color: #EFF6F8;
}
.containerHeader__blockone{
	width: 100vw;
	height: 3vh;
	display: flex;
	justify-content: space-between;
	padding: 12px;
}
.containerHeader__logo{
	width: 60px;
	height: 60px;
	margin-left: 20px;
}
.containerHeader__menu{
	width: 35vw;
	height: 20vh;
	display: flex;
	justify-content: space-around;
	background-color:transparent;
	margin-right: 400px;
}
.containerHeader__menuLink{
	font-size: 18px;
	color: #BC503B;
}
.containerHeader__principal{
	width: 100%;
	height: 65%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.containerHeader__text{
	width: 35%;
	display: flex;
	justify-content: center;
	font-weight: 900;
	font-size: 40px;
	text-transform: uppercase;
	color: #939393;
	margin-left: 130px;
}
.containerHeader__photo{
	height: 700px;
	background-color: transparent;
}
@media (max-width: 768px){
	header{
		padding: 0;
	}
	.containerHeader__logo{
		width: 45px;
		height: 45px;
	}
	.containerHeader__blockone {
		height: 70px;
		background-color: #fff;
	}
	.containerHeader__menu{
		width: 60vw;
		margin-right: 120px;
	}
	.containerHeader__menuLink{
		font-size: 16px; 
	}
	.containerHeader__principal {
		flex-direction: column-reverse;
	}
	.containerHeader__photo{
		height: 550px;
	}
	.containerHeader__text{
		width: 50vh;
		font-size: 30px;
		margin-left: 0;
	}
}
@media(max-width: 604px){
	.containerHeader__menu {
		width: 60vw;
		margin-right: 55px;
		padding: 10px;
	}
	.containerHeader__photo{
		height: 440px;
	}
	.containerHeader__text{
		width: 60%;
		font-size: 30px;
		text-align: center;
	}
		.containerHeader__aquarela{
		display: flex;
		flex-direction: column-reverse;
	}
}
@media(max-width: 425px){
	.containerHeader__logo{
		width: 45px;
		height: 45px;
		margin: 0;
	}
	.containerHeader__menu {
		width: 60vw;
		margin-right: 55px;
	}
	.containerHeader__photo{
		height: 435px;
	}
	.containerHeader__text{
		width: 90%;
		font-size: 30px;
		text-align: center;
	}
	.containerHeader__aquarela{
		display: flex;
		flex-direction: column-reverse;
	}
}
main {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.containerlove{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EFF6F8;
}
.containerlove__blockfirst {
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.containerlove__img {
	height: 470px;
}
.containerlove__blocksecond {
	width: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.containerlove__paragrafo {
	width: 300px;
	font-size: 16px;
}
.containerobjetivos {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	background-color: #fff;
}
.containerobjetivos__blockfirst {
	width: 30vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.containerobjetivos__photos {
	height: 160px;
}
.containerobjetivos__blocksecond {
	width: 65vw;
	height: 90vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 80px;
}
.containerobjetivos__title {
	width: 40vw;
	font-size: 25px;
	color: #D63727;
	margin-top: 30px;
}
.containerobjetivos__table {
	width: 575px;
}
.containerprodutos {
	width: 100%;
	height: 60vh;
	display: flex;
	justify-content: space-around;
	background-color: #EFF6F8; 
}
.containerprodutos__blockfirst {
	width: 70%;
	height: 55vh;
}
.containerprodutos__img {
	height: 385px;
}
.containerprodutos__blocksecond {
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.containerprodutos__paragrafo {
	font-size: 18px;
	color: #3E4D4F;
}
.containerprodutos__list {
	flex-direction: column;
	font-size: 18px;
	font-weight: 900;
	color: #3E4D4F;
}
@media (max-width: 768px) {
	.containerlove {
		margin-top: 50px;
		flex-direction: column-reverse;
	}
	.containerlove__paragrafo {
		line-height: 2;
	}
	.containerobjetivos__blockfirst {
		width: 100%;
		height: 35vh;
		flex-direction: row;
		justify-content: space-between;
	}
	.containerobjetivos__blocksecond {
		width: 100%;
		height: 60vh;
		margin: 0;
	}
	.containerobjetivos__title {
		width: 65%;
		font-size: 18px;
		margin: 0;
	}
	.containerobjetivos__table {
    	width: 520px;
	}
	.containerprodutos {
		width: 100%;
		height: 60vh;
		justify-content: center;
		align-items: center;
	}
	.containerprodutos__img {
		height: 300px;
	}
	.containerprodutos__paragrafo {
		font-size: 16px;
	}
}
@media (max-width: 605px) {
	.containerlove {
		flex-direction: column-reverse;
	}
	.containerlove__paragrafo {
		line-height: 2;
	}
	.containerobjetivos {
		flex-direction: column-reverse;
	}
	.containerobjetivos__blockfirst {
		height: 25vh;
	}
	.containerobjetivos__photos {
		height: 120px;
	}
	.containerobjetivos__table {
    	width: 390px;
    }
    .containerobjetivos__blocksecond {
    	height: 50vh;
    }
	.containerprodutos{
		height: 100vh;
		flex-direction: column-reverse;
	}
	.containerprodutos__blockfirst {
	    height: 45vh;
	    order: 1;
	}
	.containerprodutos__img {
    	height: 265px;
	}
	.containerprodutos__blocksecond {
		height: 65vh;
		order: 2;
	}
	.containerprodutos__paragrafo {
	    font-size: 18px;
	}
}
@media (max-width: 425px) {
	.containerlove__img {
		height: 360px;
	}
	.containerobjetivos {
		height: 65vh;
	}
	.containerobjetivos__blockfirst {
		height: 15vh;
	}
	.containerobjetivos__photos {
		height: 100px;
	}
	.containerobjetivos__blocksecond {
		height: 45vh;
	}
	.containerobjetivos__title {
		font-size: 18px;
	}
	.containerobjetivos__table {
		width: 320px;
	}
	.containerprodutos__img {
		height: 230px;
	}
}
.containerFooter {
	width: 100vw;
	height: 35vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DA3F30; 
	padding: 125px;
}
.containerFooter__missao {
	width: 33vw;
	color: #fff;
	font-weight: 900;
}
.containerFooter__paragrafo {
	width: 45vw;
}
.containerFooter__contacts {
	width: 25vw;
	color: #fff;
	font-weight: 900;
}
.containerFooter__network{
	display: flex;
	padding-top: 25px;
}
.containerFooter__networkLogo {
	height: 20px;
	margin-right: 5px;
}
.containerFooter__photo {
	width: 20vw;
	display: flex;
	position: relative;
	bottom: 5px;
	right: 70px;
}
.containerFooter__img {
	height: 230px;
	position: absolute;
	right: 30px;
}
.containerFooter__imgtwo {
	height: 230px;
	position: relative;
	left: 200px;
}
.containerFooter__base {
	font-size: 13px;
	text-align: center;
	padding: 10px;
}
.containerFooter__baseLogo {
	height: 30px;
}
@media(max-width: 768px){
	.containerFooter{
		height: 90vh;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
	}
	.containerFooter__missao{
		margin-top: 30px;
	}
	.containerFooter__paragrafo {
		text-align: center;
		font-size: 18px;
		margin-top: 20px;
	}
	.containerFooter__contacts {
		width: 40%;
		margin-top: 30px;
	}
	.containerFooter__photo{
		display: none;
	}
	.containerFooter__base{
		justify-content: center;
	}
}
