* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	list-style: none;	
}
.containerfooter{
	display: flex;
	width: 100%;
	height: 349px;
	justify-content: space-around;
	align-items: center;
	background-color: #DA3F30;
}
@media(max-width: 768px){
	.containerfooter{
		flex-direction: column;
	}

}
.containerfooter__forlove{
	display: flex;
	flex-direction: column;
	margin-bottom: 95px;
	margin-left: 30px;
}
.containerfooter__icone__img{
	width: 80px;
	height: 80px;
	display: flex;
}
.containerfooter__texto-1{
	display: flex;
	color: #fff;
	font-weight: bold;
}
.containerfooter__texto-2{
	display: flex;
	color: #fff;
	font-weight: bold;
}
.containerfooter__contatos{
	height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-left: 5px;
	line-height: 20px;
}
.containerfooterContatos__icoetxt-01{
	display: flex;
	font-weight: bold;
}
.containerfooterContatos__img-1{
	width: 20px;
	height: 20px;
}
.containerfooterContatos__txt-01{
	color: #fff;
	font-weight: bold;
}
.containerfooterContatos__icoetxt-02{
	display: flex;
	font-weight: bold;
}
.containerfooterContatos__img-2{
	width: 20px;
	height: 20px;
}
.containerfooterContatos__txt-02{
	color: #fff;
}
.containerfooterContatos__icoetxt-03{
	display: flex;
	font-weight: bold;
}
.containerfooterContatos__img-3{
	width: 20px;
	height: 20px;
}
.containerfooterContatos__txt-03{
	color: #fff;
}
.containerfooter__fotos{
	display: flex;
	position: relative;
	top: 13px;
	right: 50px;
}
@media(max-width: 780px){
	.containerfooter__fotos{
		display: none;
	}
}
.containerfooter__foto__one{
	position: absolute;
	left: 1px;
}
.containerfooter__foto__two{
	position: relative;
	left: 160px;

}
.containerfooter__base{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: yellow;
}
.containerfooter_base__authorship{
	font-size: 13px;
}
.containerfooter__base__logo{
	width: 40px;
	height: 40px;
	margin-right: 110px;
}